@using StaffApp.Application.DTOs.Common
@using StaffApp.Application.DTOs.Department
@using StaffApp.Application.DTOs.User
@using StaffApp.Application.Extensions.Constants
@using StaffApp.Application.Extensions.Helpers
@using StaffApp.Application.Services
@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations
@using StaffApp.Domain.Enum
@using StaffApp.Infrastructure.Services

@inject IUserService UserService
@inject IDepartmentService DepartmentService
@inject IMasterDataService MasterDateService
@inject LoadingService LoadingService

<MudDialog>
    <DialogContent>
        <MudGrid>
            <MudItem xs="12" sm="12">
                <MudPaper Class="pa-2">
                    <div>
                        <MudExpansionPanels MultiExpansion="true">
                            <MudExpansionPanel Expanded="true">
                                <TitleContent>
                                    <MudStack Row Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center" Style="width: 100%">
                                        <div class="d-flex">
                                            <MudIcon Icon="@Icons.Material.Filled.CastForEducation" class="mr-3"></MudIcon>
                                            <MudText><strong>Qualification and other document upload</strong></MudText>
                                        </div>

                                        <MudIconButton Variant="Variant.Filled"
                                                       Color="Color.Primary"
                                                       Icon="@Icons.Material.Filled.Add"
                                                       Size="Size.Small">
                                        </MudIconButton>
                                    </MudStack>
                                </TitleContent>
                                <ChildContent>
                                    Panel Content
                                </ChildContent>
                            </MudExpansionPanel>
                            <MudExpansionPanel Expanded="true">
                                <TitleContent>
                                    <MudStack Row Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center" Style="width: 100%">
                                        <div class="d-flex">
                                            <MudIcon Icon="@Icons.Material.Filled.EmojiEvents" class="mr-3"></MudIcon>
                                            <MudText><strong>Appraisals</strong></MudText>
                                        </div>

                                        <MudIconButton Variant="Variant.Filled"
                                                       Color="Color.Primary"
                                                       Icon="@Icons.Material.Filled.Add"
                                                       Size="Size.Small">
                                        </MudIconButton>
                                    </MudStack>
                                </TitleContent>
                                <ChildContent>
                                    Panel Content
                                </ChildContent>
                            </MudExpansionPanel>
                            <MudExpansionPanel Expanded="true">
                                <TitleContent>
                                    <MudStack Row Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center" Style="width: 100%">
                                        <div class="d-flex">
                                            <MudIcon Icon="@Icons.Material.Filled.Warning" class="mr-3"></MudIcon>
                                            <MudText><strong>Warnings</strong></MudText>
                                        </div>

                                        <MudIconButton Variant="Variant.Filled"
                                                       Color="Color.Primary"
                                                       Icon="@Icons.Material.Filled.Add"
                                                       Size="Size.Small">
                                        </MudIconButton>
                                    </MudStack>
                                </TitleContent>
                                <ChildContent>
                                    Panel Content
                                </ChildContent>
                            </MudExpansionPanel>
                            <MudExpansionPanel Expanded="true">
                                <TitleContent>
                                    <MudStack Row Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center" Style="width: 100%">
                                        <div class="d-flex">
                                            <MudIcon Icon="@Icons.Material.Filled.Gavel" class="mr-3"></MudIcon>
                                            <MudText><strong>Disciplinary Actions</strong></MudText>
                                        </div>

                                        <MudIconButton Variant="Variant.Filled"
                                                       Color="Color.Primary"
                                                       Icon="@Icons.Material.Filled.Add"
                                                       Size="Size.Small">
                                        </MudIconButton>
                                    </MudStack>
                                </TitleContent>
                                <ChildContent>
                                    Panel Content
                                </ChildContent>
                            </MudExpansionPanel>
                        </MudExpansionPanels>
                    </div>
                </MudPaper>
            </MudItem>
        </MudGrid>
    </DialogContent>
    <DialogActions>
        <MudPaper Class="pa-2">
            <MudButton OnClick="Cancel">Cancel</MudButton>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Register</MudButton>
        </MudPaper>
    </DialogActions>
</MudDialog>

@code {

    bool open = true;

    [Parameter] public string UserId { get; set; }

    [CascadingParameter]
    private IMudDialogInstance MudDialog { get; set; }

    [Parameter] public EventCallback<bool> OnDialogClosed { get; set; }


    protected override async Task OnInitializedAsync()
    {

    }

    private void Cancel() => MudDialog.Cancel();

}
