@implements IDisposable

@inject NavigationManager NavigationManager

<MudNavMenu>
        <AuthorizeView>
                    <Authorized>
                            <MudNavLink Href="" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">Home</MudNavLink>
                    </Authorized>
        </AuthorizeView>


    <AuthorizeView Roles="Admin,Director">
        <Authorized>
            <MudNavGroup Title="Admin" Expanded="true" Icon="@Icons.Material.Filled.AdminPanelSettings">
                <MudNavLink Href="CompanySettings/CompanyRoles" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Group">Company Roles</MudNavLink>
                <MudNavLink Href="Users/List" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.SupervisedUserCircle">Users</MudNavLink>
                <MudNavLink Href="Department/List" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Workspaces">Department</MudNavLink>
                <MudNavLink Href="CompanySettings/LeaveType/List" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Schedule">Leave Type</MudNavLink>
                <MudNavLink Href="CompanySettings/CompanyYear/List" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.CalendarMonth">Company Years</MudNavLink>
                <MudNavLink Href="CompanySettings/FinancialYear/List" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.CalendarToday">Financial Years</MudNavLink>
                <MudNavLink Href="CompanySettings/CompanySetting" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Settings">Company Settings</MudNavLink>
            </MudNavGroup>
        </Authorized>
    </AuthorizeView>

    <AuthorizeView Roles="Admin,Director">
        <Authorized>
            <MudNavLink Href="Users/Salaries" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.AttachMoney">Manage Employee Salaries</MudNavLink>
        </Authorized>
    </AuthorizeView>

    <AuthorizeView Roles="Admin,Director,Manager,Team Lead">
        <Authorized>
            <MudNavLink Href="EmployeeLeave/ManageEmployeeLeave" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Verified">Manage Employee Leaves</MudNavLink>
        </Authorized>
    </AuthorizeView>

    <AuthorizeView>
        <Authorized>
            <MudNavLink Href="EmployeeLeave/MyLeaveList" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.WorkOff">My Leaves</MudNavLink>

            <MudNavLink Href="Account/Manage" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Person">@context.User.Identity?.Name</MudNavLink>
            <form action="Account/Logout" method="post">
                <AntiforgeryToken />
                <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                <button type="submit" class="mud-nav-link mud-ripple">
                    <MudIcon Icon="@Icons.Material.Filled.Logout" Color="Color.Info" Class="mr-3"></MudIcon> Logout
                </button>
            </form>
        </Authorized>
        <NotAuthorized>
            <MudNavLink Href="Account/Login" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Password">Login</MudNavLink>
        </NotAuthorized>
    </AuthorizeView>
</MudNavMenu>


@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

