@implements IDisposable

@inject NavigationManager NavigationManager

<MudNavMenu>
        <AuthorizeView>
                    <Authorized>
                            <MudNavLink Href="" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">Home</MudNavLink>
                    </Authorized>
        </AuthorizeView>


    <AuthorizeView Roles="Admin,Director">
        <Authorized>
            <MudNavGroup Title="Admin" Expanded="true" Icon="@Icons.Material.Filled.AdminPanelSettings">
                <MudNavLink Href="CompanySettings/CompanyRoles" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Group">Company Roles</MudNavLink>
                <MudNavLink Href="Users/List" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.SupervisedUserCircle">Users</MudNavLink>
                <MudNavLink Href="Department/List" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Workspaces">Department</MudNavLink>
                <MudNavLink Href="CompanySettings/LeaveType/List" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Schedule">Leave Type</MudNavLink>
                <MudNavLink Href="CompanySettings/CompanyYear/List" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.CalendarMonth">Company Years</MudNavLink>
                <MudNavLink Href="CompanySettings/FinancialYear/List" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.CalendarToday">Financial Years</MudNavLink>
@*                 <MudNavLink Href="Project/List" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.WorkOutline">Projects</MudNavLink> *@
                <MudNavLink Href="CompanySettings/CompanySetting" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Settings">Company Settings</MudNavLink>
            </MudNavGroup>
        </Authorized>
    </AuthorizeView>

     <AuthorizeView Roles="Admin,Director,HRManager,HRExecutive">
        <Authorized>
            <MudNavGroup Title="HR" Expanded="true" Icon="@Icons.Material.Filled.Groups">
                  <MudNavLink Href="Users/MonthlySalaryGeneration" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.AttachMoney">Generate Monthly Salaries</MudNavLink>
                  <MudNavLink Href="TimeCard/MonthlyTimeCardList" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.AttachMoney">Generate Time Card</MudNavLink>
                  <MudNavLink Href="Users/MonthlySalaryGeneration" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Commute">Manage Transport</MudNavLink>
                  <MudNavLink Href="Users/MonthlySalaryGeneration" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Restaurant">Manage Meal</MudNavLink>
                  <MudNavLink Href="Users/MonthlySalaryGeneration" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Celebration">Manage Events</MudNavLink>
                  <MudNavLink Href="Users/MonthlySalaryGeneration" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.ContactSupport">Manage Support Requests</MudNavLink>
             </MudNavGroup>

        </Authorized>
    </AuthorizeView>

     <AuthorizeView Roles="Admin,Director">
        <Authorized>
            <MudNavGroup Title="Finance" Expanded="true" Icon="@Icons.Material.Filled.AccountBalance">
                  <MudNavLink Href="Users/MonthlySalaryGeneration" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.TrendingUp">Incomes</MudNavLink>
                  <MudNavLink Href="Users/MonthlySalaryGeneration" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.TrendingDown">Expenses</MudNavLink>
                  <MudNavLink Href="Users/MonthlySalaryGeneration" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.RequestQuote">Invoices</MudNavLink>
             </MudNavGroup>

        </Authorized>
    </AuthorizeView>

    <AuthorizeView Roles="Admin,Director">
        <Authorized>
            <MudNavGroup Title="Salaries" Expanded="true" Icon="@Icons.Material.Filled.MonetizationOn">
                  <MudNavLink Href="Users/Salaries" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Money">Manage Employee Salaries</MudNavLink>
                  <MudNavLink Href="Users/MonthlySalaries" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.AttachMoney">Manage Monthly Salaries</MudNavLink>
             </MudNavGroup>

        </Authorized>
    </AuthorizeView>

    <AuthorizeView Roles="Admin,Director,Manager,Team Lead">
        <Authorized>
            <MudNavLink Href="EmployeeLeave/ManageEmployeeLeave" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Verified">Manage Employee Leaves</MudNavLink>
            <MudNavLink Href="TimeCard/EmployeeTimeCardList" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Verified">Manage Employee Time Card</MudNavLink>
        </Authorized>
    </AuthorizeView>

    <AuthorizeView>
        <Authorized>
                  <MudNavLink Href="Project/MyProjectList" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.AttachMoney"> Projects</MudNavLink>
        </Authorized>
    </AuthorizeView>

    <AuthorizeView>
        <Authorized>
            <MudNavLink Href="Users/MySalaries" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Money">My Salaries</MudNavLink>
            <MudNavLink Href="EmployeeLeave/MyLeaveList" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.WorkOff">My Leaves</MudNavLink>
            <MudNavLink Href="TimeCard/MyTimeCardList" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.WorkOff">My Time Cards</MudNavLink>
            <MudNavLink Href="EmployeeLeave/MyLeaveList" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Restaurant">My Meals</MudNavLink>
            <MudNavLink Href="EmployeeLeave/MyLeaveList" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Celebration">Upcoming Events</MudNavLink>
            <MudNavLink Href="EmployeeLeave/MyLeaveList" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Commute">My Transport</MudNavLink>
            <MudNavLink Href="EmployeeLeave/MyLeaveList" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.ContactSupport">My Support Request</MudNavLink>
            <MudNavLink Href="Account/Manage" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Person">@context.User.Identity?.Name</MudNavLink>
            <form action="Account/Logout" method="post">
                <AntiforgeryToken />
                <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                <button type="submit" class="mud-nav-link mud-ripple">
                    <MudIcon Icon="@Icons.Material.Filled.Logout" Color="Color.Info" Class="mr-3"></MudIcon> Logout
                </button>
            </form>
        </Authorized>
        <NotAuthorized>
            <MudNavLink Href="Account/Login" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Password">Login</MudNavLink>
        </NotAuthorized>
    </AuthorizeView>
</MudNavMenu>


@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

